<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>incl3</title>
</head>
<body>
   <div data-th-fragment="fr1">
       <h1>test data-prefix-attr syntax</h1>
       <div data-th-if="${bool_var1}">
               <!--idea-144814-->
               <p data-th-text="${str_var1}"></p>
               <ul data-th-each="itVar:${map_var1}">
                   <li data-th-text="${itVar.value}"></li>
               </ul>

           <table>
               <th-block data-th-each="el : ${list_var1}">
                   <tr>
                       <td data-th-text="${el}+'aaa'">...</td>
                       <td data-th-text="${el}+'bbb'">...</td>
                   </tr>
                   <tr>
                       <td colspan="2" data-th-text="${el}+'ccc'">...</td>
                   </tr>
               </th-block>
           </table>
       </div>
   </div>
</body>
</html>