<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head lang="en" th:remove="tag" th:fragment="head-body(title)">
    <meta content="text/html; charset=utf-8"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Test |
        <th:block th:text="${title}">Page</th:block>
    </title>
</head>
<body>


 <h1> this body doesn't matter</h1>

</body>
</html>
