<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MYTITLE</title>
</head>
<body>

<div class="div1_class" id="div1_id" title="div1_title" hidden="">

    <p title="div_test">div1</p>

</div>
<div class="div2_class" id="div2_id" title="div2_title">

    <p title="div_test">div2</p>

</div>
<div class="div3_class" id="div3_id" title="div3_title" >

    <p title="div_test">div3</p>

</div>
</body>
</html>